= content_for :invoice_list do
  = flash[:notice]
  -unless @invoices.blank?
    %h1{:align => "center"} Invoices Listing
    %table{:align => "center", :border => "2", :width => "100%"}
      %tr
        %th{:style => "text-align:center"} Title
        %th{:style => "text-align:center"} Description
        -if current_member.project_manager?
          %th{:colspan => "2", :style => "text-align:center"} Actions
      - @invoices.each do |invoice|
        %tr
          %td{:align => "center"}
            = link_to invoice.name,invoice
          %td{:align => "center"}
            = invoice.description
          -if current_member.project_manager?
            %td{:align => "center",:width=> "16%"}
              = link_to "Edit",edit_invoice_path(invoice)
            %td{:align => "center",:width=> "16%"}
              = button_to "delete", invoice_path(invoice), method: :delete, confirm: "You sure?"
  - else
    %h3{:align => "center"} no invoices to show