= content_for :project_list do
  = flash[:notice]
  - unless @projects.blank?
    %h1{:align => "center"} Project Listing
    %table{:class=>"table-striped table-hover table-condensed",:align => "center", :border => "2", :width => "100%"}
      %tr
        %th{:style => "text-align:center"} Title
        %th{:style => "text-align:center"} Description
        - if current_member.client?
          %th{:colspan => "2",:style => "text-align:center"} Status
        - unless current_member.team_lead?
          %th{:colspan => "2", :style => "text-align:center"} Actions
      - @projects.each do |project|
        %tr
          %td{:align => "center"}
            = link_to project.name,project
          %td{:align => "center"}
            = project.description
          - if current_member.client?
            = form_for(project,url: update_status_project_path(:id=>project.id), :method => :patch) do |f|
              %td{:align => "center", :width => "15%"}
                = f.select :status,  options_for_select(Project.statuses.collect{ |key,value| [key,key]}, :selected => project.status)
              %td{:align => "center", :width => "15%"}
                = f.submit "Update Status"
          - unless current_member.team_lead?
            %td{:align => "center", :width => "16%"}
              = link_to "Edit",edit_project_path(project)
            %td{:align => "center", :width => "16%"}
              = button_to "delete", project_path(project), method: :delete, confirm: "You sure?"
  - else
    %h3{:align => "center"} you have not created any projects