= content_for :new_project do
  %h4{:align=>"center"}
    = flash[:notice]
    = @project.errors.full_messages.first if @project.errors.any?
  = form_for(@project) do |f|
    .field
      = f.label :Name
      %br/
      = f.text_field :name, autofocus: true
    .field
      = f.label :Description
      %br/
      = f.text_area :description, autofocus: true
    .field.datetimepicker
      = f.label :Start_Time
      %br/
      = f.datetime_select :start_date
    .field.datetimepicker
      = f.label :End_Time
      %br/
      = f.datetime_select :end_date
      %br/
    %br/
    = f.label :Users
    %br/
    -unless @member.blank?
      %div{:style => "border:2px solid #00BFFF; overflow:scroll; height: 70px; width: 100px"}
        .field
          = f.collection_check_boxes(:member_ids,@members,:id,:username,include_hidden: false) do |l|
            = l.check_box
            = l.label class:"checkbox_options" do
              = l.text
            %br/
    -else
      no users ,plese add users!!
    %br/
    %p
      - if @project.new_record?
        = f.submit "Create Project"
      - else
        = f.submit "Update Account"
      = link_to "Cancel", :back, class: 'button'
:javascript
  $(document).ready(function(){
       $('.datetimepicker').datetimepicker();
    });