= form_for(@member, url: create_member_path) do |f|
  .field
    = f.label :username
    %br/
    = f.text_field :username, autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
    %br/
  .field
    = f.label :role
    %br/
    = f.select :role,  options_for_select(@members.collect{ |key,value| [key,key]})
    %br/
    %br/
    %br/
  %p
    - if @member.new_record?
      = f.submit "Create Account"
    - else
      = f.submit "Update Account"
    %t/
    %t/
    = link_to "Cancel", :back, class: 'button'
