= content_for :user_show do
  = flash[:notice]
  %h1{:align => "center"} User
  %table{:class=>"table-striped table-hover table-condensed",:align => "center",:border => "2" , :width => "100%"}
    %tr
      %th{:style => "text-align:center",:width => "10%"} Name
      %th{:style => "text-align:center",:width => "20%"} Email
      %th{:style => "text-align:center",:width => "20%"} Role
    %tr
      %td{:align => "center"}= @member.username
      %td{:align => "center"}= @member.email
      %td{:align => "center"}= @member.role
  %br
  = link_to "back",(members_path)